$primary-color: #111111;
$accent-color: #C0C0C0;
$light-color: #fff;
$highlight-color: #775CFE;

@mixin gradient-text($angle: 45deg, $color: #775CFE, $amount: 55%) {
    color: $color;
    opacity: 0.9;
    background: -webkit-linear-gradient($angle, $color, adjust-hue($color, $amount));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@mixin primary-btn {
    border: 1px solid $light-color;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: $light-color;
    color: $primary-color;
    border-radius: 2px;

    &:hover {
        @include gradient-text;
        border-color: $accent-color;
    }
}

@mixin secondary-btn {
    border: 1px solid $light-color;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: $light-color;
    border-radius: 2px;

    &:hover {
        background-color: $light-color;
        color: $primary-color;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: inherit;
    font-family: 'Inconsolata', monospace;

    &:focus {
        background-color: none;
    }
}

ul {
    list-style-type: none;
}

body {
    background-color: $primary-color;
    color: $light-color;
    font-family: 'Inconsolata', monospace;
    padding: 0 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $accent-color;
    padding: 2rem 0;
    height: 80px;
    width: 100%;

    .logo {
        font-size: .8rem;
        display: flex;
        column-gap: .4rem;

        .logo--sigil {
            padding-top: .2rem;

            svg {
                animation: rotate 50s linear infinite;
            }
        }
    }

    .bars {
        position: fixed;
        z-index: 55333;
        top: 4%;
        right: 5%;
        width: 80px;
        height: 30px;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            height: 1.5px;
            width: 100%;
            background-color: $light-color;
            top: 5%;
            transition: 0.3s linear;
        }

        &::after {
            content: "";
            position: absolute;
            height: 1.5px;
            width: 100%;
            background-color: $light-color;
            top: 45%;
            transition: 0.3s linear;
        }
    }

    .bars.active {

        &::before {
            transform: rotate(45deg);
            transform-origin: center;
            width: 40%;
            top: 40%;
            left: 40%;
            background-color: $primary-color;
        }

        &::after {
            transform: rotate(-45deg);
            transform-origin: center;
            width: 40%;
            top: 40%;
            left: 40%;
            background-color: $primary-color;
        }
    }

    .menu {
        position: fixed;
        z-index: 1000;
        overflow: hidden;
        color: $primary-color;
        font-size: 40px;
        text-transform: capitalize;
        height: 100%;
        width: 100vw;
        padding: 0;
        top: 0;
        left: 0;
        background-color: $highlight-color;
        display: none;

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            padding: 4rem 0;
            width: 100%;
            height: 100%;

            li {
                padding-left: 2rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid $primary-color;
                cursor: pointer;

                a {

                    &:hover {
                        color: $accent-color;
                    }
                }

            }
        }

        .navBefore {
            position: relative;
            width: 100%;
            height: 100%;
            margin-left: 100%;
            background-color: $highlight-color;
        }

        .nav-secondary {
            position: absolute;
            width: 100%;
            height: 100%;
            margin-left: 0%;
            background-color: $light-color;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


}



footer {
    padding: 2rem 0;
    color: $accent-color;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;

    .social_icons {
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        column-gap: 1rem;
    }
}

h1 {
    font-size: 12vw;
    font-weight: 600;

    .description--first-name {
        @include gradient-text;

    }
}

p {
    line-height: 1.4;
}

.description {
    padding: 2rem 0 3rem;

    .description--view_projects {
        margin: 3rem 0;
        width: 100%;

        a {
            @include primary-btn();
        }
    }

    .description--skills {
        padding: 2rem 0;
        padding-bottom: 3rem;
        line-height: 1.4;
    }

    .img, .circles {
        display: flex;
        justify-content: center;
        width: 60px;
        height: 60px;
        position: relative;
        left: 50%;

        img {
            border-radius: 50%;
            animation: rotate 400s linear infinite;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(3600deg);
            }
        }
    }

    .circles {
        left: 90%;
    }


}

.info {
    padding: 2rem 0;
    border: 1px solid $light-color;

    .info--content {
        padding: 0 1rem;

        h2 {
            @include gradient-text;
            padding: 1rem 0;
        }

        p {
            padding-bottom: 1rem;
        }
    }
}

.featured {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    row-gap: 1rem;
    column-gap: 2rem;

    .featured--content {

        img {
            max-width: 100%;
        }

        h2 {
            padding: 1rem 0;

            .featured--heading {
                @include gradient-text;
            }
        }

        .featured--projects-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            row-gap: 1rem;
            column-gap: 2rem;
            padding-bottom: 2rem;

            div {
                padding: 1.6rem 0;
            }

            h3 {
                font-size: 1.2rem;
                font-weight: 600;
                padding: .6rem 0;
                padding-bottom: .2rem;
                text-decoration: underline;

                &:hover {
                    @include gradient-text;
                    opacity: .4;
                }
            }

        }

        .featured--btn {
            padding: 1rem 0;
            text-align: center;

            .view-projects {
                @include secondary-btn();
            }
        }
    }
}

/*
.articles {
    padding: 2rem 0;

    .articles--content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            padding: 1rem 0;
        }

        .articles--container {

            .articles--link {
                display: flex;
                justify-content: space-between;
                width: 100%;
                border-top: 1px solid $accent-color;
                border-bottom: 1px solid $accent-color;
            }
        }
    }
}
*/

.contact {
    padding: 2rem 0;

    h3 {
        font-weight: 600;
        padding: 1rem 0;

        .contact--heading {
            @include gradient-text;
        }
    }

    p {
        padding: .4rem 0;
        color: $accent-color;
    }
}


/*ABOUT PAGE*/

.about {
    padding: 2rem 0;

    h2 {
        font-size: 40px;
        font-weight: 600;
        padding: 2rem 0;

        .about--heading {
            @include gradient-text;
        }
    }

    h3 {
        @include gradient-text;
        font-size: 24px;
        font-weight: 600;
        padding: 1rem 0;


    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: .4rem;
    }

    p {
        padding-bottom: 1rem;
    }

    .about--backstory,
    .about--process {
        padding: 1rem 0;
    }
}


.work {

    h2 {
        font-size: 9vw;
        font-weight: 700;
        padding: 2rem 0;
        text-align: center;

        .work--heading {
            @include gradient-text;
        }

        .work--icon {
            display: inline-block;
            animation: rotate 150s linear infinite;
        }
    }

    .work--container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        row-gap: 1rem;
        column-gap: 2rem;

        div {
            padding-bottom: 3rem;

            img {
                padding-bottom: 1rem;
                max-width: 100%;
            }

            h3 {
                padding-bottom: .5rem;
                text-decoration: underline;

                &:hover {
                    @include gradient-text;
                    opacity: .4;
                }
            }

            p {
                padding-bottom: .2rem;
                font-weight: 600;
            }

            .lang {
                opacity: .8;
            }
        }
    }

}



@media screen and (min-width:768px) {

    body {
        padding: 0 3rem;
    }

    h1 {
        font-size: 9vw;
    }

    nav {
        .menu {
            font-size: 60px;

            ul {
                row-gap: 4rem;
            }

            li {
                padding-left: 2rem;
                padding-bottom: 1rem;

            }
        }
    }

    .about {

        h2 {
            font-size: 68px;
        }

        h3 {
            font-size: 40;
        }

        .about--backstory,
        .about--process {
            padding: 2rem 0;
        }
    }

    .work {

        h2 {
            font-size: 9vw;
            font-weight: 700;
            padding: 4rem 0 6rem;
        }

        .work--container {

            a {
                div {
                    padding-bottom: 8rem;
                }
            }
        }
    }
}

@media screen and (min-width:1024px) {

    body {
        padding: 0 5rem;
    }

}